* {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

h1 {
    font-size: 65px;
    color: black;
}

a {
    font-size: 35px;
    color: black;
    text-decoration: none;
}

.color-red {
    background-color: rgb(241, 20, 20);
}

.color-white {
    background-color: white;
}

.color-green {
    background-color: rgb(18, 156, 18);
}