/*--------------------------------------------------------------------------------------------------*/
body {
    height: 100vh; /* Full screen */
    
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Header and footer far away from the center */
    
    margin: 0;
    padding: 0;
}
/*--------------------------------------------------------------------------------------------------*/
.header, .footer {
    font-family: "Bangers";

    background-color: #1f2937;
    text-align: center;
    color: #f9faf8;
    
    padding-top: 5px;
    padding-bottom: 5px;
}

.header {
    font-weight: 500;
    font-size: 75px;
}
/*--------------------------------------------------------------------------------------------------*/
.content-container {
    display: flex;
    flex: 1; /* Container expands between header and footer */
    flex-direction: column;

    padding: 5px;
    gap: 5px;

    background-color: #f9faf8;
}

@media (min-width: 750px) {
    .content-container {
        flex-direction: row;
    }
}

.lasagna {
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 50px;
    flex: 100%; /* initially, 100% of the size of its container, but it shrinks and grows at the same time with the others */

    background-image: url("pic006.png");
    background-position:top;

    border: 2px;
    border-color: #1f2937;
    border-style: solid;

    min-height: 800px;
}

.empanadas {
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 50px;    
    flex: 100%; /* initially, 100% of the size of its container, but it shrinks and grows at the same time with the others */
    
    background-image: url("pic007.png");
    background-position: top;

    border: 2px;
    border-color: #1f2937;
    border-style: solid;

    min-height: 800px;
}

.pizza {
    display: flex;
    justify-content: center;
    align-items: end;    
    padding-bottom: 50px;
    flex: 100%; /* initially, 100% of the size of its container, but it shrinks and grows at the same time with the others */
    
    background-image: url("pic005.png");
    background-position: top;

    border: 2px;
    border-color: #1f2937;
    border-style: solid;

    min-height: 800px;
}
/*--------------------------------------------------------------------------------------------------*/
a {
    font-family: "Bangers";    
    font-size: 35px;
    color: #1f2937;
    text-decoration: none;
}

button { 
    padding-left: 50px;
    padding-right: 50px;
    
    border: 2px;
    border-radius: 4px;
    border-style: solid;
    border-color: #1f2937;
    
    background-color: #f9faf8;
}
/*--------------------------------------------------------------------------------------------------*/